flows.json
[{"id":"5bfd581a.9f984","type":"ibmiot in","z":"f8b88fe3.f00528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":90,"y":180,"wires":[["3bcb3ab7.08b4d6","14132b33.f8ff55"]]},{"id":"3bcb3ab7.08b4d6","type":"debug","z":"f8b88fe3.f00528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":110,"wires":[]},{"id":"14132b33.f8ff55","type":"function","z":"f8b88fe3.f00528","name":"cast","func":"msg.payload = parseInt(msg.Sensor);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["5d1e33ea.d7ff0c"]]},{"id":"5d1e33ea.d7ff0c","type":"ui_chart","z":"f8b88fe3.f00528","name":"","group":"c0a0ca8e.e4423","order":1,"width":0,"height":0,"label":"Discovery Kit Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1500","ymax":"4000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":160,"wires":[[]]},{"id":"c0a0ca8e.e4423","type":"ui_group","z":"","name":"Discovery Kit Sensors","tab":"b8752b4a.7cc1e","order":1,"disp":true,"width":"11","collapse":false},{"id":"b8752b4a.7cc1e","type":"ui_tab","z":"","name":"Discovery Kit Workshop","icon":"dashboard","order":3}]